<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <label for="author">Author</label>
      <input type="text" name="author" id="author" />
      <label for="text">Text</label>
      <input type="text" name="text" id="text" />
      <input type="submit" />
    </form>
  </body>
</html>
